
<div class="container">
<div id="charts" style="min-width: 510px; max-width: 1200px; height: 600px; margin: 0 auto"></div>
</div>

<script>

$(function () {

    $('#charts').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'inbound user count'
        },
        subtitle: {
            text: 'User Counting'
        },
        xAxis: {
            categories:  <%= @categories.each do |row| %><% end %>,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Users',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' millions'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: '26:May:2016',
            data: <%= @result.each do |row| %><% end %>
        }]
    });
});
</script>
